--extra-index-url https://download.pytorch.org/whl/cpu

# 1. Install Headless OpenCV FIRST and force the version
opencv-python-headless==4.10.0.84

# 2. Core API Framework
fastapi[standard]
uvicorn
python-multipart

# 3. AI & Computer Vision
# We use 'ultralytics' but we must ensure it doesn't bring back the wrong opencv
torch
torchvision
ultralytics

# 4. Data & Utilities
pandas
matplotlib
pathlib
logging
python-dotenv
groq