# 1. Look in PyTorch first for CPU wheels, then PyPI for everything else
--extra-index-url https://download.pytorch.org/whl/cpu

# 2. Core API Framework
fastapi[standard]
uvicorn
python-multipart

# 3. AI & Computer Vision (Will pull CPU version from the extra index)
torch
torchvision
ultralytics

# 4. Data & Utilities
opencv-python-headless
pandas
matplotlib
pathlib
logging
python-dotenv
groq